<div *ngIf="messageError">
  <div class="row">
    <div class="col-md-12">
      <div class="alert alert-dismissible alert-danger">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Error</strong>
      </div>
    </div>
  </div>
</div>

<div style="margin-top: 10px"></div>

<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <h2>Message</h2>
  </div>
  <div class="col-md-3"></div>
</div>

<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <div class="form-group" [ngClass]="{'has-danger': messageError}">
      <label class="form-control-label" for="exampleInputID">ID</label>
      <input [(ngModel)]="id" type="id" class="form-control" placeholder="e.g. 001">
    </div>

    <div class="form-group" [ngClass]="{'has-danger': messageError}">
      <label class="form-control-label" for="exampleInputMessage">Message</label>
      <input [(ngModel)]="message" type="message" class="form-control" placeholder="Hi mom" name="message">
    </div>
    <div class="form-group" [ngClass]="{'has-danger': messageError}">
      <label class="form-control-label" for="exampleInputMessage">Notification Time</label>
      <input [(ngModel)]="pushTime" type="datetime-local" class="form-control" name="notification time">
      <!-- <input [(ngModel)]="pushTime" type="pushTime" class="form-control" placeholder="Hi mom"> -->
    </div>
    <div class="form-group">
      <button type="button" class="btn btn-success" (click)="onClickAddMessage()">Add Message</button>
      <button type="button" class="btn btn-success" (click)="onClickCheckMessages()">Check Messages</button>
    </div>
    <table class="table table-striped table-hover table-sm">
      <thead>
        <tr>
          <th style="width:15%">Date Created</th>
          <th style="width:15%">Notification Time</th>
          <th style="width:5%">User ID</th>
          <th style="width:5%">Read?</th>
          <th style="width:60%">Message</th>
        </tr>
      </thead>
      <tr *ngFor="let ms of messages">
        <td>{{ms.timeStamp | date: 'MM/dd/yyyy HH:mm'}}</td>
        <td>{{ms.pushTime | date: 'MM/dd/yyyy HH:mm'}}</td>
        <td>{{ms.uid}}</td>
        <td>{{ms.read}}</td>
        <td>{{ms.message}}</td>
      </tr>
  </table>
  </div>
  <div class="col-md-1"></div>
</div>

<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <h2>Question</h2>
  </div>
  <div class="col-md-3"></div>
</div>

<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <div class="form-group" [ngClass]="{'has-danger': messageError}">
      <label class="form-control-label" for="exampleInputID">ID</label>
      <!-- this will be a menu where they can choose multipule participants -->
      <input [(ngModel)]="id" type="id" class="form-control" placeholder="e.g. 001">
    </div>
    <div class="form-group" [ngClass]="{'has-danger': messageError}">
      <label class="form-control-label" for="exampleInputMessage">Type</label>
      <input [(ngModel)]="qtype" type="text" class="form-control" placeholder="Text, Radio, etc.">
      <!-- this will be a menu with where they can add options -->
    </div>
    <div class="form-group" [ngClass]="{'has-danger': messageError}">
      <label class="form-control-label" for="exampleInputMessage">Question</label>
      <input [(ngModel)]="question" type="text" class="form-control" placeholder="How many drinks?" name="question">
    </div>
    <div class="form-group" [ngClass]="{'has-danger': messageError}">
      <label class="form-control-label" for="exampleInputMessage">Notification Time</label>
      <input [(ngModel)]="pushTime" type="datetime-local" class="form-control" name="qnotification time">
      <!-- <input [(ngModel)]="pushTime" type="pushTime" class="form-control" placeholder="Hi mom"> -->
    </div>
    <div class="form-group">
      <button type="button" class="btn btn-success" (click)="onClickAddQuestion()">Add Question</button>
      <button type="button" class="btn btn-success" (click)="onClickCheckQuestions()">Check Questions</button>
    </div>
    <table class="table table-striped table-hover table-sm">
      <thead>
        <tr>
          <th style="width:15%">Date Created</th>
          <th style="width:15%">Notification Time</th>
          <th style="width:5%">User ID</th>
          <th style="width:5%">Question ID</th>
          <th style="width:5%">Question Type</th>
          <th style="width:5%">Read?</th>
          <th style="width:50%">Message</th>
        </tr>
      </thead>
      <tr *ngFor="let qs of questions">
          <td>{{qs.timeStamp | date: 'MM/dd/yyyy HH:mm'}}</td>
          <td>{{qs.pushTime | date: 'MM/dd/yyyy HH:mm'}}</td>
          <td>{{qs.uid}}</td>
          <td>{{qs.id}}</td>
          <td>{{qs.qtype}}</td>
          <td>{{qs.read}}</td>
          <td>{{qs.question}}</td>
      </tr>
  </table>
  </div>
  <div class="col-md-1"></div>
</div>
